@model ContactInfoDto
@{
    ViewData["Title"] = "Contact";
    string title = "İletişim";
}

<partial name="_HeroWraper" model="@title" />


<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-4">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="border w-100 p-4 rounded mb-2 d-flex">
                            <div class="icon mr-3">
                                <span class="icon-map-o"></span>
                            </div>
                            <p><span>Address:</span> @Model.Address</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="border w-100 p-4 rounded mb-2 d-flex">
                            <div class="icon mr-3">
                                <span class="icon-mobile-phone"></span>
                            </div>
                            <p><span>Phone:</span> <a href="tel://1234567920">@Model.PhoneNumber</a></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="border w-100 p-4 rounded mb-2 d-flex">
                            <div class="icon mr-3">
                                <span class="icon-envelope-o"></span>
                            </div>
                            <p><span>Email:</span> <a href="mailto:info@yoursite.com">@Model.Email</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 block-9 mb-md-5">
                <form action="#" class="bg-light p-5 contact-form" id="sendmessage">
                    <div class="form-group">
                        <input type="text" id="name" class="form-control" placeholder="Your Name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" id="email" class="form-control"  placeholder="Your Email" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="subject" class="form-control" placeholder="Subject" required>
                    </div>
                    <div class="form-group">
                        <textarea name="" id="message" cols="30" rows="7" class="form-control" placeholder="Message" required></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Mesajı Gönder" class="btn btn-primary py-3 px-5">
                    </div>
                </form>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div id="map" class="bg-white"></div>
            </div>
        </div>
    </div>
</section>


<script>
    let sendMessageForm=document.getElementById('sendmessage');

    sendMessageForm.addEventListener('submit', function(event){
        event.preventDefault();

        let username=document.getElementById('name').value;
        let mail=document.getElementById('email').value;
        let _subject=document.getElementById('subject').value;
        let messageBody=document.getElementById('message').value

        let messageContent={
            Name:username,
            Email:mail,
            Subject:_subject,
            Message:messageBody
        }

        let url='Home/SendContact';

        fetch(url,{
            method:'POST',
            headers:{
                'Content-Type':'application/json',
                'Accept':'application/json'
            },
            body:JSON.stringify(messageContent)
        }).then(response=> response.json())
        .then(data=>{
            if(data.success){
                alert('Mesajınız başarıyla gönderildi. Teşekkürler!');
                sendMessageForm.reset();
            }else{
                alert('Mesaj gönderilirken bir hata oluştu. Lütfen tekrar deneyin.');
            }
        }).catch(error=>{
            console.error('Hata:',error);
            alert('Mesaj gönderilirken bir hata oluştu. Lütfen tekrar deneyin.');
        })

       
    });
</script>